@import "variables";

body {
	padding-top: 50px;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: "Core Slab M 65 Bold";
	font-weight: normal;
}

a {
	color: $mainColor;
}

.logo {
	height: 2em;
	margin:	-0.8em 0 -0.5em;
}

.navbar {
	$navbarTextColor: #fff;

	background: $mainColor;
  	box-shadow: 0 .1em .2em rgba(0, 0, 0, .4);
	font-family: "Core Slab M 45 Regular";
	font-weight: normal;
	letter-spacing: 0.1em;

	.icon-bar {
		background-color: $navbarTextColor;
	}

	a {
		color: $navbarTextColor;
	}
}

.navbar-nav > li {
	> a:hover {
		background: lighten($mainColor, 5%);
	}
	&.active > a {
		background: lighten($mainColor, 10%);
	}
}
@media (min-width: 768px) {
	.navbar-nav > li {
		border: 1px solid darken($mainColor, 7%);
		border-width: 0 1px;
		margin-right: -1px;
	}
}
