<f:layout name="Default" />

<f:section name="Title">Index view of Standard controller</f:section>

<f:section name="Content">
	<h1>A freshly created Fluid template!</h1>
	<p>Some data set by the controller:</p>
	<ul>
		
		<f:for each="{foos}" as="foo">
			<li>{foo}</li>
		</f:for>
		
	</ul>
</f:section>

<f:section name="Login">
<form action="flow/authenticate" method="post" name="loginform">
        <input type="text" id="username"
                name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][username]"
                value="" tabindex="1" />
        <input type="password" id="password"
                name="__authentication[TYPO3][Flow][Security][Authentication][Token][UsernamePassword][password]"
                value="" tabindex="2" />
        <input type="submit" value="Login" tabindex="3" />
</form>
</f:section>

<f:section name="FacebookLogin">
<div id="fb-root"></div>
<fb:login-button perms="email" autologoutlink="true" show-faces="true" width="200" max-rows="1"></fb:login-button>
</f:section>
